<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.blog.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.blog.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyEmailServlet</servlet-name>
        <servlet-class>com.blog.servlets.verifyEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.blog.servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>com.blog.servlets.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserServlet</servlet-name>
        <servlet-class>com.blog.servlets.updateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>com.blog.servlets.adminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategoryServlet</servlet-name>
        <servlet-class>com.blog.servlets.addCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catDelServlet</servlet-name>
        <servlet-class>com.blog.servlets.catDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCommentServlet</servlet-name>
        <servlet-class>com.blog.servlets.addCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savePostServlet</servlet-name>
        <servlet-class>com.blog.servlets.savePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPostServlet</servlet-name>
        <servlet-class>com.blog.servlets.editPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePostServlet</servlet-name>
        <servlet-class>com.blog.servlets.deletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likePostServlet</servlet-name>
        <servlet-class>com.blog.servlets.likePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendOTPForPasswordChangeServlet</servlet-name>
        <servlet-class>com.blog.servlets.sendOTPForPasswordChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePasswordServlet</servlet-name>
        <servlet-class>com.blog.servlets.updatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delUserServlet</servlet-name>
        <servlet-class>com.blog.servlets.delUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyEmailServlet</servlet-name>
        <url-pattern>/verifyEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/AddPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/adminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategoryServlet</servlet-name>
        <url-pattern>/addCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catDelServlet</servlet-name>
        <url-pattern>/catDelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCommentServlet</servlet-name>
        <url-pattern>/addCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savePostServlet</servlet-name>
        <url-pattern>/savePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPostServlet</servlet-name>
        <url-pattern>/editPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePostServlet</servlet-name>
        <url-pattern>/deletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likePostServlet</servlet-name>
        <url-pattern>/likePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendOTPForPasswordChangeServlet</servlet-name>
        <url-pattern>/sendOTPForPasswordChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePasswordServlet</servlet-name>
        <url-pattern>/updatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delUserServlet</servlet-name>
        <url-pattern>/delUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
